body {
	background-color: pink;
}
#about {
	display: inline;
	border-right: 2px solid black;
	padding: 0 6px;
}
#copyright {
	display: inline;
	padding: 0 4px;
}
#footer {
	
	width: 348px;   
	left: 0;                  
	right: 0;
	margin-left: auto;        
	
	margin-right: auto;
	border: 1px solid red;
}

header {
	display: block;
	width: 348px;   
	left: 0;                  
	right: 0;
	margin-left: auto;        
	
	margin-right: auto;
	border: 1px solid red;
}
