html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-image: url('http://blueskyisthelimit.com/images/style/background2.jpg'); 
	background-repeat: repeat-x;
	z-index: 1;
}

#about {
	display: inline;
	border-right: 2px solid black;
	padding: 0 6px;
}
#copyright {
	display: inline;
	padding: 0 4px;
}
#footer {
	
	width: 348px;   
	left: 0;                  
	right: 0;
	margin-left: auto;        
	
	margin-right: auto;
	border: 1px solid red;
}

/*h1 {
	padding: 50px 0 30px;
}

h2 {
	padding: 30px 0 50px;
}*/

header {
	text-align: center;
	margin: 0;
	padding: 0;  
    
    width:auto;
    height:auto;
}
h1 {
	color: white;
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	font-weight: normal;
	

}

h2 {
	text-transform: lowercase;
	color: white;
}

#veni {
	margin: 0;
	box-shadow: 0px 0px 30px #fff;
}

h3 {
	position: relative;
	text-align: center;
	border: 1px solid red;
	color:#585858; 
	

}

#table {
	position: relative;
	width: 525px;   
	left: 0;                  
	right: 0;
	margin-left: auto ;        
	margin-right: auto;
	border: 1px solid red;
	color: #585858;
}

section {
	border: 1px solid red;
	background-color: #e6e6ff;
	padding: 60px 0;
	



}

#facts {
	width: 400px;
	position: relative;
	left: 22px;
	color: #585858;
	border: 1px solid black;
}

.pages {
	text-align: center;

}

#veni-zara {
	text-align: center;
}


/*#fff0f5

#dcdcdc*/